*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lora", sans-serif;
}

/* important (div bootstrap)*/
.container{
    width: 80%;
    margin: auto;

}

header{
    background-color: #dbd8d8;
    padding: 10px 0;
}

.brand{
    width: 20%;
    margin: 0;


}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul#user_info{
    display: none ;
    align-items: center;
    
}

nav ul#user_info li{
    position: relative;
    margin: 0 7px;
}

nav ul#user_info li i{
    font-size: 15px ;
    cursor: pointer;
}


nav ul#user_info .carts-products{
    position: absolute;
    width: 200px;
    transform: translate(-42%, 0);
    background: #d3d1d1;
    top: 70px;
    padding: 10px;
    border: 1px solid black;
    display: none;
}

nav ul#user_info .carts-products a{
    display: block;
    background: #8a9eac;
    color: black;
    margin: 0;
    padding: 6px;
    text-align: center;

}



nav ul#user_info li .badge{
    width: 17px ;
    height: 17px;
    background: #918d8d;
    text-align: center;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -9px;
    right: -11px;
    font-size: 10px;
    line-height: 20px;
    display: none;
}


nav ul{
    display: flex;
    list-style: none;
}
nav li a {
    display: block;
    color: black;
    min-width:50px ;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;

}
nav li a:hover{
    color: white;
}

/***************** Form *****************/
.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    background-color: #dbd8d8;
    padding: 20px;
}

.section-form h2{
    font-size: 40px ;
    letter-spacing: 2px;
    color: rgb(161, 154, 140);

}


.section-form form input{
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 40px;
    padding: 5px; /* placeholder*/
    border: 1 solid #ddd;
    font-family: "Lora", sans-serif;
    outline: 0;
}

.section-form form input[type=submit]{
    font-size: 20px;
    text-transform: uppercase;
    height: auto;
    cursor: pointer;
}

.section-form form input[type=submit]:hover{
    opacity: 0.8;
}


/***************** Products *****************/
.products{
    width: 60%;
    margin: 10px 0;
    float: left;

}

.products-filter{
    width: 60%;
    float: left;
    margin: 10px 0;
}

#price-filter{
    width: 30%;
    float: right;
    margin: 10px 10px;
    padding: 4px;
    position: absolute;
    top: 200px;
    right: 0;
}



.product-item {
    display: flex;
    width:100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;

}



.product-item-img{
    width:24%;
    margin-right: 10px;
}

.product-item-desc a{
    display: block;
    color: black;
    cursor: pointer;
}

.product-item-desc p {
    margin-bottom: 15px; 
}

.product-item-desc p#price {
    margin-top: 45px; 

}

.product-item-actions{
    flex: 1;
    text-align: right;
    /* display: flex; */
    position: relative;
    padding: 10px 20px;
}

.product-item-actions .Add-to-cart{
    /* display: block; */
    margin-left: 0;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    bottom: 0;  
    right: 0;
    font-size: 20px;
}


.noItem {
    display:flex;
    background: #dbd8d8;
    justify-content: space-around;

    
  }


.noProducts  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    padding: 10px 20px;
    justify-content: space-around;
  }



.product-item-actions .favorite{
    cursor: pointer;
    /* display:block; */
    width: 20px;
    padding: 10px 30px;
    margin-right: 60px ;
    position: absolute;
    bottom: 0;  
    right: 0;
    font-size: 20px;

}

.item-details img {
    width: 23%;
    margin: 10px 0;
    border: 1px solid black;
    padding: 2px;
    object-fit: cover;
}

#search{
    width: 100%;
    height: 40px;
    display: block;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1 px solid black;
    font-family: "Lora", sans-serif;
}


/************************************  Create Product ****************************************************/
.create-product-icon{
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 50px;
    height: 50px;
    background-color:#918d8d;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px; /* vertical*/
}

.create-product-icon:hover{
    opacity: 0.8;
}


/************* Profile **********************/
.user-avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px 0;
}

#edit-profile-form input{
    width: 100%;
    display: block;
    margin: 10px 0;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 20px;

}


#edit-profile-form input[type = submit]{
    font-size: 20px;
    text-transform: uppercase;
    height: auto;
    cursor: pointer;
}

#edit-profile-form input[type=submit]:hover{
    opacity: 0.8;
}












